
body { background: url(bg.gif); margin-top: 40px; }

dl { width: 600px; border: 4px solid #fff; background: #669999; padding: 20px; margin: 0 auto; filter: alpha(opacity: 90); opacity: 0.9; }
dt { font-size: 18px; color: #fff; border-bottom: 1px solid #ccc; padding-left: 10px; padding-bottom: 10px; margin-bottom: 20px; }
dd { margin-left: 0; padding-bottom: 10px; font-size: 14px; padding-left: 10px; color: #fff; }
.text { width: 500px; height: 30px; line-height: 30px; font-weight: bold; font-size: 14px; font-family: arial; }
textarea { width: 500px; height: 120px; overflow: auto;font-weight: bold; font-size: 14px; font-family: arial; }
.btn { width: 120px; height: 40px; }
.center { text-align: center; }

body.skin1 { margin-top: 40px; background: url(bg1.jpg) no-repeat center center; }

.skin1 dl { width: 400px; border: 2px solid #ccc; background: #FFFFCC; padding: 20px; margin: 0 auto; filter: alpha(opacity: 70); opacity: 0.7; }
.skin1 dt { font-size: 18px; color: #009933; border-bottom: 1px solid #ccc; padding-left: 10px; padding-bottom: 10px; margin-bottom: 20px; }
.skin1 dd { margin-left: 0; padding-bottom: 10px; font-size: 14px; padding-left: 10px; }
.skin1 .text { width: 300px; height: 30px; line-height: 30px; }
.skin1 textarea { width: 300px; height: 120px; overflow: auto; }
.skin1 .btn { width: 120px; height: 40px; }
.skin1 .center { text-align: center; }